.playerbox{
  margin-top: 2em;
  flex: 1;
  min-height: 60vh;
  background-color: rgba(113, 210, 232, 1);
  border-radius: 0.5em;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1em;
}

.players{
  padding-top: 0.5em;
  max-height: 10%;
}

.lobbyText {
  padding-top: 5em;
  justify-content: center;
}

.lobbyStatus{
  padding-top: 5em;
  justify-content: left;
  display: flex;
  gap: 10%;
}
