.App {
  text-align: center;
  font-family: minecraft;
}

.App-logo {
  display:flex;
  left: 110%;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(rgba(0, 14, 84, 1), rgba(0, 14, 84, 1), rgba(230, 0, 255, 1));
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  width: auto;
  height: auto;
  display: inline-block;
  height: 10vmin;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-image: linear-gradient(rgba(0, 3, 19, 1), rgba(0, 14, 84, 1));
  min-height: 10%;
  min-width: 100%;
  position: fixed;
  top: 0%;
  border:  rgba(1, 15, 86, 1) solid 2px;
  display: flex;
  z-index: 10;
}

.Sidebar {
  padding-top: 1rem;
  min-height: 100vh;
  width: 20vh;
  border-right: 1rem;
  background-image: linear-gradient(rgba(0, 14, 84, 1), rgba(0, 14, 84, 1), rgba(230, 0, 255, 1));
  border-image: linear-gradient(rgba(0, 9, 56, 1), rgba(0, 10, 61, 1), rgba(93, 1, 103, 1));
  flex-shrink: 0; /* prevent sidebar from shrinking */
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 14, 84, 1), rgba(0, 14, 84, 1), rgba(230, 0, 255, 1));
}

.main1 {
  flex: 1;
  padding-top: 5rem;
  display: relative;
}

.button {
  min-height: 5px;
  min-width: 10px;
  background: linear-gradient(to bottom left, rgba(45, 0, 136, 1) 0%, rgba(255, 89, 0, 1) 100%);
  background-size: 100% 400%;
  color: white;
  border: 2px solid rgba(223, 26, 0, 1);
  transition: 1s;
  padding: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  background-size: 200% auto;
  text-decoration: none;
  font-size: 0.5em;
  cursor:pointer;
  font-family: minecraft;
}

.button:hover{
  animation: backgroundAnim 3s linear infinite;
}

.button.login{
  margin-top: 15ch;
}

.join-button{
  min-height: 3vh;
  min-width: 7rem;
  background: linear-gradient(to bottom left, rgba(255, 89, 0, 1) 0%, rgba(45, 0, 136, 1) 100%);
  background-size: 400%;
  color: white;
  border: 2px solid rgba(223, 26, 0, 1);
  transition: 1s;
  padding: 1vh;
  background-size: 200% auto;
  cursor:pointer;
  font-family: minecraft;
}

.join-button:hover{
  animation: backgroundAnim linear infinite;
  animation-duration: 3s;
}

@keyframes backgroundAnim{
  from  {background-position: 200% 200%;}
  to {background-position: 0% 0%;}
}

@font-face {
  font-family: minecraft;
  src: url("./Images/Minecraft.ttf");
}