.game-screen{
    padding-top: 5em;
}

.game-display{
    padding-top:1em;
}

.prompt-sfx{
    color: rgba(255, 194, 159, 1);
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.timer{
    position: absolute;
    font-size: 2em;
    left: 2rem;
    min-width: 20px;
    min-height: 20px;
}

.prompt-box{
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    height: 2rem;
    justify-self: center;
    align-text: center;
}

.results{
    display: grid;
    place-items: center;
}

.songResults{
    width: 60%;
    height: 5em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.unselected{
    background: rgba(24, 21, 38, 1);
}

.selected{
    background: rgba(8, 136, 199, 1);
}

.thumbnail{
    padding-left: 1rem;
    width: 4em;
}

.songEdit{
    align-self: top;
    position: fixed;
    z-index: 10;
    top: 20%;
    padding-top: 5%;
    height: 60%;
    width: 60%;
    border-radius: 2em;
    background: rgba(24, 21, 38, 1);
}

.timeStamp{
    display:flex;
    justify-content: space-around;
}

.viewing{
    padding-top: 0em;
    display: flex;
    justify-content: space-between;
}

.win-screen{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 90%;
    height: 60vh;
    background-size: 3px 100%;
    padding-bottom: 0.15em;
    background-repeat: no-repeat;
    background-position: center center;
}

.winner{
    padding-top: 1em;
    border: rgba(0, 122, 253, 1) 2px groove;
    height: 95%;
    width: 48%;
}

.votes{
    position: absolute;
    bottom: 5%;
    padding-left:4%;
}

.loser{ 
    padding-top: 1em;
    border: rgba(254, 61, 61, 1) 2px groove;
    height: 95%;
    width: 48%;
}

.left{
    border-radius: 1em;
}

.right{
    border-radius: 1em;
}

.chatDisplay{
    display: flex;
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.chatButton{
    position: relative;
    top: 97.5%;
    transition-duration: 1s;
    left: 0%;
    height: 5%;
    width: 10%;
    font-size: 60%;
    font-family: minecraft;
    color: white;
    background-image: radial-gradient(circle at 100%, rgba(0, 14, 84, 1) , rgba(230, 0, 255, 1) 70%,  rgba(0, 14, 84, 1) 75%);
}

.chatButton:hover{
    top: 95%;
    transition-duration: 1s;
}

.activeChat{
    background-image: radial-gradient(circle at 100%, rgba(0, 14, 84, 1));
}
