.playerbox{
  margin-top: 2em;
  margin-left: 1em;
  flex: 1;
  height: 67vh;
  background-color: rgba(113, 210, 232, 1);
  border-radius: 0.5em;
  max-width: 61%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  align-content: start;
  column-gap: 1em;
  padding-left: 1em;
  overflow-y: scroll;
}

.players{
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  text-align: left;
}

.chat-bar{
  height: 85vh;
  width: 30%;
  top: 10%;
  right: 1%;
  flex: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  background: rgba(4, 10, 57, 1);
}

.chatbox{
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 6rem;
  overflow-y: scroll;
  z-index: 10;
}

.chat{
  text-align:left;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  white-space: normal;
  flex-direction: row;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.send-box{
  border-radius: 0.4em;
  min-height: 5%;
  min-width: 40%;
  right: 35%;
  position: absolute;
  bottom: 5%;
}

.send-button{
  min-height: 5%;
  min-width: 10%;
  right: 20%;
  position: absolute;
  bottom: 5%;
  background: rgba(36, 61, 161, 1);
  color: white;
}

.lobbyText {
  padding-top: 5em;
  justify-content: center;
}

.lobbyStatus{
  padding-top: 5em;
  justify-content: left;
  display: flex;
  gap: 11.9%;
}

