

.overlay{
  background: linear-gradient(to top left, rgba(32, 1, 94, 1) 0%, rgba(64, 0, 147, 1) 100%);
  position:absolute;
  border-radius: 1em;
  width: 40vh;
  height: 50vh;
  top: 20%;
  left: 44%;
  padding-top: 1em;
}

.register{
    height: 60vh;
}

.input{
  margin-top: 0.5em;
}

.text-box{
  background-color: #1f2127ff;
  border: 0.1em solid  rgba(161, 0, 254, 1);
  border-radius: 0.4em;
  min-height: 10%;
  min-width: 30%;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.text-box:disabled{
  background-color: #5c5c5cff;
}

.small-text-box{
  background-color: #1f2127ff;
  border: 0.1em solid  rgba(161, 0, 254, 1);
  border-radius: 0.4em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  width: 20%;
}

.exit{
  position: absolute;
  top: 5%;
  right: 10%;
  color: red;
  cursor: pointer;
}

/* For enter buttons use "enter lobby-button"*/
.lobby-button{
  background-color: rgba(161, 0, 254, 1);
  min-height: 10%;
  min-width: 40%;
  font-size: 0.8em;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}

.lobby-button:hover{
  background-color: rgba(31, 33, 39, 0);
}

/* For both create and join lobby */
.enter{ 
  border-radius: 0.4em;
  min-height: 5%;
  min-width: 40%;
  right: 30%;
  position: absolute;
  bottom: 5%;
  cursor: pointer;
}

.enter:disabled{
  background-color: grey;
}

.forgot-password{
  cursor: pointer;
  font-size: 0.5em;
  color: rgba(77, 190, 255, 1);
}

.Settings{
  position:fixed;
  height: 10%;
  z-index:10;
  left: 87%;
  top: 3.5%;
}

.gear{
  position:fixed;
  height: 10%;
  z-index:10;
  cursor: pointer;
  left: 94%;
}

.gear:hover{
  animation: gear-spin infinite linear 2s;
}

@keyframes gear-spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.menu{
  width: 40%;
  left: 0%;
  margin-left: 7em;
  z-index: 11;
  background: rgba(4, 10, 57, 1);
  align-items: center;
  justify-content: center;
  display: grid;
}

.scroll{
  width: 40%;
  height: 50vh;
  position: fixed;
  overflow: scroll;
}

.slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 25px; /* Specified height */
  background:rgb(21, 32, 118); 
  border-radius: 2em;
  width: 40%;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 12;
}

.small-slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%;
  height: 25px;
  background: rgb(21, 32, 118);
  border-radius: 2em;
  cursor: pointer;
  transition: 0.2s;

}
.false{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%;
  height: 25px;
  background: white;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.2s;
}
